/* logo */

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    display: inline-flex;
	align-items: center;
}

.logo.vertical {
	flex-flow: column;
}

.logo.vertical > img {
	width: 100px;
}

.logo.horizontal {
	flex-flow: row;
}

.logo.horizontal > img {
	height: 50px;
}

.logo > * {
    margin: 0.5rem;
}

.logo > div > *:first-child {
    color: #ccc;
}

.logo > div > *:last-child {
    color: #000;
}


/* activity */

.activity {
	display: flex;
	width: 100%;
	min-height: 100vh;
    min-height: -webkit-fill-available;
	position: absolute;
	left: 0;
	top: 0;
}

.activity.at-center {
	align-items: center;
	justify-content: center;
}

.activity > .container {
	display: flex;
	flex-flow: column;
	padding: 2rem 1rem;
	box-sizing: border-box;
	margin: 0 auto;
}


/* page */

.page {
	width: 100%;
	max-width: 40em;
	padding-bottom: 4rem;
}


/* action bar */

.action-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row;
	font-size: 2rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

.action-bar > .container {
	display: flex;
	flex-flow: row;
	align-items: center;
	background: linear-gradient(#fff, rgba(255,255,255,0.5));
	height: 4rem;
	width: 100%;
	max-width: 40rem;
}

.action-bar a {
	cursor: pointer;
	padding: 0.5rem;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
}
