/* reset */

* {
	font-family: inherit;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
	color: #000;
	background-color: #ffffff;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h5 {
	font-size: inherit;
	color: #ccc;
	text-transform: uppercase;
}

b {
	font-weight: 900;
}

:focus {
	outline: 0;	
}


/* custom */

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
}

.icon {
	font-size: 1.25em;
	display: inline-flex;
    align-items: center;
}

.force-hidden {
	display: none !important;
}


/* grid */

.grid-21 {
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

@media (min-width: 480px) {

	.grid-21 {
	    grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 481px) {

	.grid-21 {
	    grid-template-columns: repeat(2, 1fr);
	}

	.grid-21 > .col-2 {
	    grid-column-end: span 2;
	}
}


/* connection status */

.connection-status {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	background: #fff;
	z-index: 5000;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	align-items: center;
		/*max-height: 20000rem;*/
}

.connection-status .message {
	color: #fff;
	padding: 2rem;
	margin: 0rem auto 2rem auto;
    max-width: calc(100% - 2rem);
	box-sizing: border-box;
	border-radius: 1rem;
	background-color: #000;
	font-weight: 600;
	transition: background-color 0.3s ease-out;
}

.connection-status .logo {
	margin-top: 2rem;
    transform: scale(0.5);
}

.connection-status.offline .message {
	background-color: #e04343;
}

.connection-status.online .message {
	background-color: #43e097;
}

.connection-status.offline .message:after {
	display: inline;
	content: 'Пожалуйста, проверьте подключение к сети Интернет.';
}

.connection-status.online .message:after {
	display: inline;
	content: 'Вы снова в сети Интернет.';
}

.connection-status.offline {
	animation: connection-status-show 0.3s ease-out forwards;
}

.connection-status.online {
	animation: connection-status-hide 3s ease-out forwards;
}

@keyframes connection-status-show {
	0% {
		opacity: 0;
		-max-height: 20000rem;
	}
	100% {
		opacity: 1;
		-max-height: 20000rem;
	}
}

@keyframes connection-status-hide {
	0% {
		opacity: 1;
		-max-height: 20000rem;
	}
	75% {
		opacity: 1;
		-max-height: 20000rem;
	}
	100% {
		opacity: 0;
		-max-height: 20000rem;
	}
}


/* logo */

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    display: inline-flex;
	align-items: center;
	user-select: none;
}

.logo.vertical {
	flex-flow: column;
}

.logo.vertical > img {
	width: 60px;
}

.logo.horizontal {
	flex-flow: row;
}

.logo.horizontal > img {
	height: 50px;
}

.logo > * {
    margin: 0.5rem;
}

.logo > div > *:first-child {
    color: #ccc;
}

.logo > div > *:last-child {
    color: #000;
}


/* activity */

.activity {
	display: flex;
	width: 100%;
	min-height: 100vh;
    min-height: -webkit-fill-available;
	position: absolute;
	left: 0;
	top: 0;
}

.activity.at-center {
	align-items: center;
	justify-content: center;
}

.activity > .container {
	display: flex;
	flex-flow: column;
	padding: 2rem 1rem;
	box-sizing: border-box;
	margin: 0 auto;
}

.activity h5 {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.activity.navbar {
	background: rgba(255,255,255,0.75);
	padding-top: 4rem;
	z-index: 10;
}

.activity.navbar .links {
	margin-top: 4rem;
	background: #fff;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 0 0 5rem rgba(0,0,0,0.2);
}

.activity.navbar .links a {
	margin: 1rem;
	font-size: 1.25rem;
	cursor: pointer;
	font-weight: 400;
	display: block;
	text-decoration: none;
	color: inherit;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

.activity.navbar .links a.do-reload {
	color: #d25757
}

.activity.navbar .links a.do-reload:before {
	display: inline-block;
	background: red;
	content: '';
	overflow: hidden;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
    margin-left: -1.15rem;
    margin-right: 0.65rem;
    position: relative;
    top: -0.25rem;
}

.activity.navbar .current-version {
    margin-left: 1rem;
	margin-right: 1rem;
	font-size: 0.8rem;
    color: #ccc;
	user-select: none;
}

.activity.navbar .current-version:before {
	display: inline-block;
	content: 'Текущая версия: ';
}

.activity.inner {
	background: #f5f5f5;
}

.activity.inner .action-bar > .container {
	background: linear-gradient(#f5f5f5, rgba(245,245,245,0.76), rgba(245,245,245,0));
}


/* message */

.activity.message {
	padding-top: 4rem;
	padding-bottom: 40rem;
	min-height: auto;
}

.activity.message button {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.activity.message .container {
	max-width: 30rem;
	width: calc(100% - 2rem);
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	padding: 0;
}

.activity.message .title {
    max-width: 30rem;
	width: 100%;
	text-align: center;
}

.activity.message .info {
	width: 100%;
    max-width: 30rem;
    border-top: 1px solid #eee;
    padding-top: 2rem;
	text-align: left;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
}



/* confirm */

.activity.confirm {
	padding-top: 4rem;
	padding-bottom: 40rem;
	min-height: auto;
}

.activity.confirm .container.body {
	max-width: 30rem;
	width: calc(100% - 2rem);
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	padding: 0;
}

.activity.confirm .title {
    max-width: 30rem;
	width: 100%;
	text-align: center;
}

.activity.confirm .info {
	width: 100%;
    max-width: 30rem;
    border-top: 1px solid #eee;
    padding-top: 2rem;
	text-align: left;
	margin-top: 0;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
}


.activity.confirm .buttons {
	width: 100%;
    max-width: 30rem;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.activity.confirm button {
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 30%;
}

.activity.confirm button + button {
	margin-left: 1rem;
}


/* page */

.page {
	width: 100%;
	max-width: 40em;
	padding-bottom: 4rem;
}


/* action bar */

.activity .action-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row;
	font-size: 2rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

.activity .action-bar > .container {
	display: flex;
	flex-flow: row;
	align-items: center;
	background: linear-gradient(#fff, rgba(255,255,255,0.76), rgba(255,255,255,0));
	height: 4rem;
	width: 100%;
	max-width: 50rem !important;
}

.activity .action-bar .icon {
	cursor: pointer;
	padding: 0.5rem;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
	text-decoration: none;
}


/* button */

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 3rem;
	font-size: 1.1rem;
	width: 100%;
	max-width: 21rem;
	box-sizing: border-box;
	margin-bottom: 1rem;
	border: 0;
	border-radius: 0.25rem;
	background: #fff;
	box-shadow: 0.05rem 0.15rem 0 rgba(0,0,0,0.2);
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

.button > .icon {
	height: 1.5rem;
	font-size: 1.3rem;
	margin-right: 0.5rem;
}

.button > .icon.iconify {
	height: auto;
	font-size: 1.5rem;
}

.button > span {
	display: block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
}

.button.primary {
	color: #fff;
	background: rgb(24, 119, 242);
}

.button.light {
	color: #000;
	background: #eee;
}

.button[disabled], .button[disabled]:hover, .button[disabled]:focus {
	opacity: 0.3;
	outline: 0;
}



/* label */

.label {
	width: 100%;
	max-width: 20rem;
}

.label input[type=text], .label textarea {
	height: 3rem;
	font-size: 1.3rem;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 0.25rem;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 0.05rem 0.15rem 0 rgba(0,0,0,0.2);
	box-sizing: border-box;
	-webkit-appearance: none;
}

.label textarea {
	height: 10rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.label input[type=text]:focus, .label textarea:focus {
	border: 1px solid rgb(77, 144, 254);
	box-shadow: 0.05rem 0.15rem 0 rgba(77, 144, 254, 0.2);
	outline: 0;
}


/* hint */

.hint {
	font-weight: 100;
	opacity: 0.75;
	margin: 0.5rem 1rem;
	font-size: 0.9rem;
}


/* subject */

.subject {
	font-weight: bold;
	margin-bottom: 0.5rem;
	color: rgb(24, 119, 242);
}


/* list */

.list {
	display: flex;
	flex-flow: column;
	width: 100%;
	border-radius: 0.25rem;
	border: 1px solid #eee;
	box-shadow: 0.05rem 0.15rem 0 rgba(0,0,0,0.2);
	overflow: hidden;
}

.list > .li {
	width: calc(100% - 1rem);;
	display: flex;
	flex-flow: row;
	align-items: start;
	padding: 1rem 0.5rem;
	border-bottom: 1px solid #eee;
}

.list > .li:last-child {
	border-bottom: 0;
}

.li input[type=radio] {
	margin-left: 1rem;
	margin-right: 1rem;
}


/* verification */

input + .verification-result {
	display: none;
	margin-top: -3rem;
	height: 3rem;
	justify-content: flex-end;
	align-items: center;
}

input + .verification-result > * {
	line-height: 3rem;
	margin-right: 1rem;
    font-size: 1.5rem;
	text-align: center;
	display: none;
}

input.valid {
	padding-right: 2.5rem;
}

input.valid + .verification-result {
	display: flex;
}

input.valid + .verification-result > .valid {
	display: inline-block;
	color: green;
}

input.error {
	padding-right: 2.5rem;
}

input.error + .verification-result {
	display: flex;
}

input.error + .verification-result > .error {
	display: inline-block;
	color: red;
}

input.verification + .verification-result {
	display: flex;
}

input.verification + .verification-result > .verification {
	display: inline-block;
}


/* activity loading */

.activity.loading > .container {
	padding-bottom: 4rem;
}

.activity > .container > i.display1 { /* TODO */
	color: gainsboro;
	line-height: 10rem;
    font-size: 10rem;
}

/* activity login */

.activity.login > .container {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.activity.login .logo {
	margin-bottom: 2rem;
}

.activity.login p {
    width: 21rem;
	box-sizing: border-box;
	padding: 0 1rem;
}

.activity.login .tinkoff-logo {
	max-width: 150px;
}

.activity.login .ps-logos {
	height: 4rem;
    filter: grayscale(1);
}

.activity.login .tinkoff-section,
.activity.login .telegram-section {
	border-top: 1px solid #e8e8e8;
    padding-top: 2rem;
	margin-top: 1rem;
}

.activity.login .tinkoff-section > p,
.activity.login .telegram-section > p {
	margin-top: 0;
}

.activity.login h1 {
	margin-bottom: 2rem;
	margin-top: -1rem;
	font-size: 2rem;
	line-height: 1;
	text-align: center;
}

.activity.login .text-center {
	text-align: center;
	margin-bottom: 1rem;
}

.activity.login .text-center a.ln {
	display: inline-flex;
	margin-bottom: 0.5rem;
}

.activity.login .text-center .button {
	margin-bottom: 2rem;
}

.activity.login .button.telegram {
	color: #fff;
	background: #5682a3;
}


.activity.login .button {
	display: inline-flex;
	width: auto;
	border-radius: 2rem;
	box-shadow: none;
	height: 2.5rem;
	padding-left: 0.7rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-transform: none;
	border: 0;
}

.activity.login p {
	width: auto;
}

.activity.login h1 {
	margin-bottom: 0;
}

.activity.login h1 + .lead {
	margin-top: 0;
	margin-bottom: 2rem;
    font-size: 1.47rem;
	text-align: center;
}

.activity.login .login-with {
	display: flex;
	flex-flow: column;
	padding: 0.5rem 0.5rem 0 0.5rem;
	background: #f0f0f0;
	border-radius: 1rem;
}

.activity.login .login-with .label {
	display: inline-block;
	font-weight: 300;
	margin: 0.5rem 1rem;
	max-width: 100rem;
	font-size: 0.8rem;
	margin-bottom: 1rem;
}

.activity.login .login-with .buttons {
	display: flex;
	flex-flow: column;
	align-items: start;
}

.activity.login .login-with .buttons .button {
	width: calc(100% - 1rem);
	border-radius: 1rem;
}

.activity.login .container {
	max-width: 42rem;
}

.activity.login .signin-with-facebook {
	background: #fff;
	color: rgb(24, 119, 242);
}

.activity.login .signin-with-vk {
	background: #fff;
	color: #4c75a3;
}

.activity.login .login-with .buttons.social {
	flex-flow: row;
}

.activity.login .login-with .buttons.social .button {
	padding: 0;
}

.activity.login .login-with .buttons.social .button .icon {
	margin-right: 0;
	font-size: 2rem;
}

.activity.login .login-with .buttons.social .button span {
	display: none;
}

.activity.login .login-with .buttons.social .signin-with-google.button .icon {
	height: 1.8rem;
}

.activity.login .telegram-section {
	display: flex;
	border: 1px solid #e8e8e8;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
	font-weight: 100;
}

.activity.login .button.telegram {
	border-radius: 1rem;
}

.activity.login .ps-logos {
	-display: none;
	height: 2.5rem;
	opacity: 0.5;
}

.activity.login .tinkoff-section {
	border: 0;
	margin-top: 0;
}


/* activity profile */

.activity.profile {
	padding-top: 4rem;
}

.activity.profile .container {
	width: 100%;
	max-width: 40rem;
	align-items: center;
}

.activity.profile .avatar {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
}

.activity.profile h2, .activity.profile small, .activity.profile .label, .activity.profile .button {
	margin-bottom: 2rem;
}

.activity.profile .avatar {
	margin-bottom: 1rem;
}

.activity.profile .info {
	max-width: 20em;
	border-top: 1px solid #eee;
	padding-top: 2rem;
}

.activity.profile .button.logout {
	margin-top: 2rem;
}

.activity.main > .container {
	align-items: center;
	width: 100%;
	max-width: 50rem;
}

/* activity main */

.activity.main .hot-icons {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	max-width: 27rem;
		background: #fff;
		border-radius: 10px;
    	box-shadow: 0 0 5rem rgba(0,0,0,0.2);
	user-select: none;
}

.activity.main .hot-icons a {
	padding: 1rem;
	display: flex;
	flex-flow: column;
	align-items: center;
	cursor: pointer;
	width: calc((100% - 2rem) / 3);
	height: 5rem;
	font-weight: bold;
	-webkit-tap-highlight-color: transparent;
}

/*
.activity.main .hot-icons a .icon {
	font-size: 2.5rem;
	width: 3rem;
    height: 3rem;
    justify-content: center;
    border-radius: 1rem;
    background-color: #fff;
	-transition: all 0.3s ease-out;
}

.activity.main .hot-icons .open-scanner .icon {
	font-size: 2.25rem;
}
*/

.activity.main .hot-icons a b {
	display: inline-flex;
	width: 3rem;
    height: 3rem;
	align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: #fff;
	line-height: 0;
}

.activity.main .hot-icons a .icon {
	font-size: 2.2rem;
}




.activity.main .hot-icons a.selected .icon {
	color: #fff;
}

.activity.main .hot-icons a span {
	font-size: 0.8rem;
}

.activity.main .hot-icons .open-favorites .icon {
	color: #fc0;
}

.activity.main .hot-icons .open-favorites.selected b {
    background-color: #fc0;
}

.activity.main .hot-icons .open-scanner .icon {
	color: #fd0000;
}

.activity.main .hot-icons .open-scanner.selected b {
    background-color: #fd0000;
}

.activity.main .hot-icons .open-history .icon {
	color: #4a0;
		margin-left: -0.05rem;
}

.activity.main .hot-icons .open-history.selected b {
    background-color: #4a0;
}

.activity.main .hot-icons .open-search .icon {
	color: rgb(77, 144, 254);
}



.activity.main .categories {
	display: flex;
    flex-flow: row;
    justify-content: space-between;
	box-sizing: border-box;
}

.activity.main .categories a {
    width: 6.5rem;
    min-width: 6.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
	border: 1px solid rgba(77, 144, 254, 0.2);
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 6.5rem;
    cursor: pointer;
	margin-right: 1rem;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.activity.main .categories a .icon {
	font-size: 2rem;
	color: rgb(77, 144, 254);
	user-select: none;
}

.activity.main .categories a span {
	text-align: center;
	display: block;
	font-size: 0.8rem;
	user-select: none;
}

.activity.main .categories a.selected {
	background: rgb(77, 144, 254);
}

.activity.main .categories a.selected > * {
	color: #fff;
}

.activity.main .partners > .provider {

	flex-flow: row;
	justify-content: space-between;
	overflow: hidden;
	width: 100%;
	cursor: pointer;
	border-style: solid;
	border-color: #eee;
	box-sizing: border-box;

	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-name: provider-hide;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-width: 0;
	border-top-width: 1px;

	display: none;
	-webkit-tap-highlight-color: transparent;

		transition: margin-bottom 0.5s ease-out;

	user-select: none;
}

@keyframes provider-show {
  0% {
	transform: scale(1, 0);
	opacity: 0;
  }
  100% {
	transform: scale(1, 1);
	opacity: 1;
  }
}

@keyframes provider-hide {
  0% {
	transform: scale(1, 1);
	opacity: 1;
  }
  100% {
	transform: scale(1, 0);
	opacity: 0;
  }
}

.activity.main .partners > .provider.show {
	animation-name: provider-show;
	display: flex;
}

.activity.main .partners > .provider.hide {
	animation-name: provider-hide;
	display: flex;
}

.activity.main .partners > .provider .icon {
	width: 3rem;
	font-size: 1.5rem;
	justify-content: center;
	-webkit-tap-highlight-color: transparent;
}

.activity.main .partners {
	width: 100%;
	padding-bottom: 40rem;
	margin-top: 1rem;
}

.activity.main .partners > .provider .details {
	width: calc(100% - 3rem * 2);
}

.activity.main .partners > .provider .name {
	font-weight: 400;
}

.activity.main .partners > .provider .inn {
	opacity: 0.7;
	font-weight: 300;
}

.activity.main .partners > .provider .service {
	opacity: 0.7;
	font-weight: 300;
}

.activity.main .partners > .provider .fav {
	transition: color 0.3s ease-out;
}

.activity.main .partners > .provider .fav.selected {
	color: rgb(77, 144, 254);
}

.activity.main .partners > .provider .fav .not-in-list {
	display: inline-block;
}

.activity.main .partners > .provider .fav .in-list {
	display: none;
}

.activity.main .partners > .provider .fav.selected .not-in-list {
	display: none;
}

.activity.main .partners > .provider .fav.selected .in-list {
	display: inline-block;
}

.activity.main .profile-show {
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 2rem;
	background-color: #eee;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	transition: all 0.6s ease-out;
}

.activity.main .profile-show.is-checked {
	background-color: #fff;
	box-shadow: 0 0 5rem rgb(0 0 0 / 20%);
}

.activity.main .avatar {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	margin-right: 0.5rem;
	background-size: cover;
	background-position: center center;
	background-color: #fff;
    border: 0.2rem solid #fff;
    margin: 0.25rem 0.5rem 0.25rem 0.3rem;
    box-sizing: border-box;
}

.activity.main .fullname {
    margin-right: 1.5rem;
    max-width: 8rem;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
	user-select: none;
	text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 100;
}

.activity.main .profile-show {
	z-index: 11;
}

.activity.main .profile-show .do-reload {
	display: inline-block;
	background: red;
	content: '';
	overflow: hidden;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
    margin-left: -0.5rem;
    position: relative;
    top: -1.5rem;
	left: 0.5rem;
}



.activity.main .header {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 3rem;
}

.activity.main .header .logo {
	font-size: 1.25rem;
}

.activity.main .header .logo img {
	height: 2.5rem;
}



.activity.main .banner {
	border-radius: 10px;
	background-image: url(/images/banner-stub.jpg);
	background-size: cover;
	color: #fff;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: calc(100% - 2rem);
	min-height: 8rem;
	margin-top: 2rem;
	cursor: pointer;
	padding-left: 1rem;
	padding-right: 1rem;
}

.activity.main .banner > * {
	margin: 0;
}



.activity.main .search-field {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.activity.main .search-field .icon {
	width: 3rem;
	color: rgb(77, 144, 254);
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
	height: 3rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box;

	margin-right: -3rem;
	z-index: 1;
}

.activity.main .search-field .label {
	width: 100%;
	display: flex;
	max-width: 100%;
}

.activity.main .search-field .label div {
	width: 100%;
}

.activity.main .search-field .label input {
	padding-left: 3rem;
	height: 3rem;
	font-size: 1.2rem;
	border: 1px solid rgb(77, 144, 254);
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
	border-radius: 1.5rem;
}

.activity.main .search-field .label input:focus {
	border: 1px solid rgb(77, 144, 254);
	box-shadow: 0.05rem 0.15rem 0 rgba(77, 144, 254, 0.2);
	outline: 0;
}


.activity.main .search-results-header {
	display: none;
}

.activity.main .search-cancel {
	display: none;
}


.activity.main.search-results .banner {
	display: none;
}

.activity.main.search-results .search-field {
	display: none;
}

.activity.main.search-results .categories {
	display: none;
}

.activity.main.search-results .regions-selector {
	display: none;
}

.activity.main.search-results .bottom-panel {
	display: none;
}

.activity.main.search-results .search-results-header {
	display: block;
	margin-top: 2rem;
}

.activity.main.search-results .partners {
	padding-bottom: 0;
}

.activity.main.search-results .search-cancel {
	display: flex;
	margin-top: 2rem;
	margin-bottom: 40rem;
}




/* activity accounts */

.activity.accounts {
	padding-top: 4rem;
	padding-bottom: 40rem;
}

.activity.accounts .container {
	max-width: 26rem;
	width: 100%;
	align-items: center;
}

.activity.accounts .provider-details {
	margin-bottom: 1rem;
	width: 100%;
}

.activity.accounts .accounts-list {
	width: 100%;
}

.activity.accounts .provider-details .name {
	font-weight: bold;
	font-size: 1.25rem;
    margin-bottom: 1rem;
	width: 100%;
}

.activity.accounts .account {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 1px solid rgba(77, 144, 254, 0.2);
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    border-radius: 5px;
	background: #fff;
	z-index: 0;
	width: 100%;
}

.activity.accounts .account .description {
	opacity: 0.5;
}

.activity.accounts .account .value {
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	padding: 0.25rem 1rem;
}

.activity.accounts .account .button-container {
    display: flex;
    flex-flow: row;
	justify-content: flex-end;
	width: 100%;
}

.activity.accounts .account .button-container button {
	width: 100%;
	max-width: 100%;
    color: rgb(24, 119, 242);
    margin: 0 0 0 0;
    box-shadow: none;
	background-color: rgba(215, 231, 251, 0.3);
	transition: background-color 0.3s ease-out;
}

.activity.accounts .account .button-container button:hover {
	background-color: rgba(215, 231, 251, 1);
}

.activity.accounts .account.hidden {
	display: none;
}

.activity.accounts > .container > .button-container {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
}

.activity.accounts .button-container button {
	margin: 0;
	min-width: 100%;
}

.activity.accounts .account .details {
	display: flex;
	flex-flow: row;
	padding: 0.5rem;
	align-items: start;
}

.activity.accounts .account .details .info {
	width: calc(100% - 2rem);
}

.activity.accounts .account .details .commands {
	width: 1.5rem;
}

.activity.accounts .account .details .popup-trigger {
	width: 2rem;
	height: 1.5rem;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.activity.accounts .account .details .popup-trigger.is-active {
	background-color: #fff;
    box-shadow: 0 -0.5rem 1rem rgba(0,0,0,0.1);
    z-index: 2;
    position: relative;
}

.activity.accounts .account .details .popup-trigger + .popup {
	position: absolute;
	z-index: 1;
	width: 10rem;
	max-height: 0;
	margin-left: -8rem;
	background-color: #fff;
	box-shadow: 0 0 1rem rgba(0,0,0,0.1);
	display: inline-flex;
	flex-flow: column;
	box-sizing: border-box;
	overflow: hidden;
	transition: all 0.3s ease-out;
	opacity: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.activity.accounts .account .details .popup-trigger.is-active + .popup {
	max-height: 10rem;
	opacity: 1;
	box-shadow: 0 0 5rem rgba(0,0,0,0.3);
}

.activity.accounts .account .details .popup-trigger + .popup > a {
	display: block;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 0.3s ease-out;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.activity.accounts .account .details .popup-trigger + .popup > a:hover {
	background-color: rgba(215, 231, 251, 0.7);
}

.activity.accounts .account .details .popup-trigger + .popup > a > .icon {
	display: inline-block;
	margin-right: 1em;
	font-size: inherit;
}


/* activity account-edit */

.activity.account-edit .container {
	align-items: center;
	max-width: 26rem;
	width: 100%;
}

.activity.account-edit {
	padding-top: 4rem;
	padding-bottom: 40rem;
}

.activity.account-edit .provider-details {
	margin-bottom: 1rem;
	width: 100%;
}

.activity.account-edit .provider-details .name {
	font-weight: bold;
	font-size: 1.25rem;
    margin-bottom: 1rem;
}

.activity.account-edit .label {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 26rem;
}

.activity.account-edit .hint {
	font-weight: 100;
}

.activity.account-edit .button-container {
	margin-top: 1rem;
	width: 100%;
}

.activity.account-edit .button-container button {
	min-width: 100%;
}

/* activity account-payment */

.activity.account-payment .container {
	align-items: center;
	width: 100%;
	max-width: 26rem;
}

.activity.account-payment {
	padding-top: 4rem;
	padding-bottom: 40rem;
}

.activity.account-payment .provider-details {
	margin-bottom: 1rem;
	width: 100%;
}

.activity.account-payment .provider-details .name {
	font-weight: bold;
	font-size: 1.25rem;
    margin-bottom: 1rem;
}

.activity.account-payment .label {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 26rem;
}

.activity.account-payment .button-container {
	margin-top: 1rem;
	width: 100%;
}

.activity.account-payment .button-container button {
	min-width: 100%;
}

.activity.account-payment .total-line {
	font-weight: 900;
    font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.activity.account-payment .commission-line {
	font-weight: 100;
	text-align: center;
	font-size: 1.2rem;
	text-transform: lowercase;
}

/*
.activity.account-payment .total-line > * {
	font-weight: 900;
    font-size: 2rem;
	text-align: right;
}

.activity.account-payment .total-line > th {
	text-align: right;
}

.activity.account-payment .total-line > td {
	text-align: left;
}

.activity.account-payment .commission-line > * {
	font-weight: 100;
	text-align: right;
	font-size: 1.2rem;
}

.activity.account-payment .commission-line > th {
	text-align: right;
}

.activity.account-payment .commission-line > td {
	text-align: left;
}
*/


.activity.account-payment .commission-description {
    margin-left: -0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: inline-block;
    background: #ffeca5;
    color: #000;
    max-width: 79%;
}

.activity.account-payment .li {
	background: #fff;
}

.activity.account-payment .li .hint {
	margin-top: 0.5rem;
}

.activity.account-payment .li > div > div:first-child {
	font-size: 1.3rem;
	line-height: 1;
	/*font-weight: 600; */
}

.activity.account-payment .counters {
    width: 100%;
    max-width: 26rem;
}

.activity.account-payment .title {
	text-align: left;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 1.2rem;
	font-weight: 100;	
}

.activity.account-payment .counters-list > .label {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
}

.activity.account-payment .counters-list > .label > .subject {
	-width: 50%;
}

.activity.account-payment .counters-list > .label input[type=text] {
	width: 7rem;
}

.activity.account-payment .info {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 0.9rem;
	display: inline-block;
	background: #ffeca5;
	color: #000;
}

.activity.account-payment .info.is-hidden {
	display: none;
}

/* activity feedback */

.activity.feedback .container {
	align-items: center;
	width: 100%;
	max-width: 26rem;
}

.activity.feedback {
	padding-top: 4rem;
	padding-bottom: 40rem;
}

.activity.feedback .label {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 26rem;
}

.activity.feedback .button-container {
	margin-top: 1rem;
	width: 100%;
}

.activity.feedback .button-container button {
	min-width: 100%;
}


/* activity account-history */

.activity.account-history {
	padding-top: 4rem;
	padding-bottom: 40rem;
}

.activity.account-history .empty-message {
	text-align: left;
    width: 100%;
    font-size: 1.25rem;
    margin-top: 1rem;
    font-weight: 300;
    border-top: 1px solid #ccc;
    padding: 1rem;
}

.activity.account-history .container {
	max-width: 26rem;
	width: 100%;
	align-items: center;
}

.activity.account-history .provider-details {
	margin-bottom: 1rem;
	width: 100%;
}

.activity.account-history .history-list {
	width: 100%;
}

.activity.account-history .provider-details .name {
	font-weight: bold;
	font-size: 1.25rem;
    margin-bottom: 1rem;
	width: 100%;
}

.activity.account-history .provider-details .acc-value {
	font-weight: bold;
    border-bottom: 2px solid;
}

.activity.account-history .payment {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 1px solid rgba(77, 144, 254, 0.2);
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    border-radius: 5px;
	background: #fff;
	z-index: 0;
	width: 100%;
}

.activity.account-history .payment.color-normal {
	border-color: rgba(91, 254, 77, 0.2);
}

.activity.account-history .payment.color-warning {
	border-color: rgba(254, 77, 77, 0.2);
}

.activity.account-history .payment .description {
	opacity: 0.5;
}

.activity.account-history .payment .info {
	width: 100%;
}

.activity.account-history .payment .row {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.activity.account-history .payment .row.summary {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.activity.account-history .payment .summ {
	font-size: 2.25rem;
	font-weight: 400;
	line-height: 1;
	margin: 0;
}

.activity.account-history .payment .commission {
	line-height: 1;
	opacity: 0.5;
	margin-left: 1rem;
	text-align: center;
}

.activity.account-history .payment .commission > *:first-child {
	font-size: 1.4rem;
	font-weight: 400;
}

.activity.account-history .payment .commission > *:last-child {
	font-size: 0.75rem;
}

.activity.account-history .payment .button-container {
    display: flex;
    flex-flow: row;
	justify-content: flex-end;
	width: 100%;
}

.activity.account-history .payment .button-container .button {
	width: 100%;
	max-width: 100%;
    color: rgb(24, 119, 242);
    margin: 0 0 0 0;
    box-shadow: none;
	background-color: rgba(215, 231, 251, 0.3);
	transition: background-color 0.3s ease-out;
	cursor: default;
}

/*.activity.account-history .payment .button-container .button:hover {
	background-color: rgba(215, 231, 251, 1);
}*/

.activity.account-history .payment.color-normal .button-container .button {
    color: rgb(37, 160, 22);
	background-color: rgba(213, 247, 206, 0.3);
}

.activity.account-history .payment.color-warning .button-container .button {
    color: rgb(242, 24, 24);
	background-color: rgba(239, 198, 198, 0.3);
}

.activity.account-history > .container > .button-container {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
}

.activity.account-history .button-container .button {
	margin: 0;
	min-width: 100%;
}

.activity.account-history .payment .details {
	display: flex;
	flex-flow: row;
	padding: 0.5rem;
	align-items: start;
}

.activity.account-history .payment .counter {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8rem;
	border-top: 1px solid #eee;
}

.activity.account-history .payment .counter .name {
	padding: 0.25rem 0.5rem;
}

.activity.account-history .payment .counter .value {
	padding: 0.25rem 0.5rem;
}

/*

.activity.account-history .payment .details .commands {
	width: 1.5rem;
}

.activity.account-history .payment .details .popup-trigger {
	width: 2rem;
	height: 1.5rem;
	line-height: 1.5;
	cursor: pointer;
	display: block;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	user-select: none;
}

.activity.account-history .payment .details .popup-trigger.is-active {
	background-color: #fff;
    box-shadow: 0 -0.5rem 1rem rgba(0,0,0,0.1);
    z-index: 2;
    position: relative;
}

.activity.account-history .payment .details .popup-trigger + .popup {
	position: absolute;
	z-index: 1;
	width: 10rem;
	max-height: 0;
	margin-left: -8rem;
	background-color: #fff;
	box-shadow: 0 0 1rem rgba(0,0,0,0.1);
	display: inline-flex;
	flex-flow: column;
	box-sizing: border-box;
	overflow: hidden;
	transition: all 0.3s ease-out;
	opacity: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.activity.account-history .payment .details .popup-trigger.is-active + .popup {
	max-height: 10rem;
	opacity: 1;
	box-shadow: 0 0 5rem rgba(0,0,0,0.3);
}

.activity.account-history .payment .details .popup-trigger + .popup > a {
	display: block;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 0.3s ease-out;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.activity.account-history .payment .details .popup-trigger + .popup > a:hover {
	background-color: rgba(215, 231, 251, 0.7);
}

.activity.account-history .payment .details .popup-trigger + .popup > a > i {
	display: inline-block;
	margin-right: 1em;
}
*/


/* activity scanner */

.activity.scanner {
	-background: #000;
	-color: #fff;
	overflow: hidden;
}

.activity.scanner canvas {
	width: 100%;
	border-radius: 10px;
}

.activity.scanner > .container {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

.activity.scanner .action-bar > .container {
	background: #fff;
}

.activity.scanner .info {
	text-align: center;
}

.activity.scanner .hidden {
	display: none;
}


/* activity sbp-pay */

.activity.sbp-pay #qrcode {
	width: 20rem;
	height: 20rem;
}

.activity.sbp-pay .action {
	font-size: 0.9rem;
	width: 20rem;	
}

.activity.sbp-pay .container {
	align-items: center;
}

.activity.sbp-pay .container > * {
	max-width: 20rem;
}

.activity.sbp-pay .logo {
	height: 3rem;
}


/* regions selector */

.regions-selector {
	width: 100%;
	border-radius: 10px;
	border: 1px solid #eee;
	overflow: hidden;
	transition: all 0.3s ease-out;
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.regions-selector .trigger {
	display: block;
	padding: 0.5rem;
	text-align: center;
	margin: 0.5rem;
	color: rgb(77, 144, 254);
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.regions-selector .list {
	max-height: 0;
	margin-bottom: 0;
	overflow: auto;
	border: 1px solid #eee;
	transition: all 0.3s ease-out;
}

.regions-selector.open {
	margin-bottom: 2rem;
}

.regions-selector.open .list {
	max-height: 18.6rem;
}

.regions-selector .list label {
	display: block;
	padding: 0.5rem;
	border-top: 1px solid #eee;
}

.regions-selector .list label input {
	margin-right: 0.5rem;
}


/* bottom panel */

.bottom-panel .switcher {
	color: #999;
	font-size: 1.5rem;
    line-height: 0;
    background: #ffffff;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    z-index: 10;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.bottom-panel {
	width: 100%;
	height: 6rem;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	transition: bottom 0.3s ease-out;
}

.bottom-panel.hide {
	bottom: -6rem;
}


/* signin buttons */

.signin-with-google {
	border: 1px solid rgba(0,0,0,0.1);
}

.signin-with-facebook {
	color: #fff;
	background: rgb(24, 119, 242);
}

.signin-with-vk {
	color: #fff;
	background: #4c75a3;
}

.without-auth {
	border: 1px solid rgba(0,0,0,0.1);
}


/* utilities */

[hidden],
.is-hidden {
	display: none !important;
}

.scroll-horizontal {
	overflow-x: scroll;
	max-width: 100%;
}

.invisible-scrollbar::-webkit-scrollbar {
	display: none;
}

.spin {
	animation: spin 0.3s linear infinite;	
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/* focus trigger */

#focus-trigger {
	background: transparent;
	color: transparent;
	width: 1rem;
	height: 0;
	outline: 0;
	box-shadow: none;
	border: 0;
	padding: 0;
	font-size: 0;
}

#focus-trigger:focus {
	border: 0;
	outline: 0;
	box-shadow: none;
	padding: 0;
}

#focus-trigger.hide {
	display: none;
}


/* media queries */

@media (max-width: 475px) {

	.activity.message .container {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.activity.login .telegram-section {
		flex-flow: column;
	}

	.activity.login .button.telegram {
		width: calc(100% - 1rem);
		max-width: calc(100% - 1rem);
	}

	.activity.login .button.without-auth {
		width: calc(100% - 1rem);
		max-width: calc(100% - 1rem);
	}

	.activity.login h1 + .lead {
		margin-top: 1rem;
		font-size: 1.25rem;
		line-height: 1.25;
	}
}

@media (orientation: landscape) and (min-width: 900px) {

	.activity.main .bottom-panel {
		position: static;
		height: 4rem;
	}

	.activity.main .hot-icons {
		box-shadow: none;
		background: transparent;
	}

	.activity.main .hot-icons a {
		flex-flow: row;
		width: auto;
		height: 4rem;

		height: 2.75rem;
		padding: 0;
		padding-left: 0.4rem;
		padding-right: 1rem;
		background: #eee;
		border-radius: 1.25rem;
	}

	.activity.main .hot-icons a b {
		width: 2.2rem;
	    height: 2.2rem;
	}

	.activity.main .hot-icons a .icon {
		font-size: 1.5rem;
	}

	.activity.main .hot-icons a span {
		margin-left: 0.5rem;

		text-transform: uppercase;
	}

	.activity.main .hot-icons .open-favorites.selected {
		background: #ffcc004f;
	}

	.activity.main .hot-icons .open-scanner.selected {
		background: #fd3f3f4f;
	}

	.activity.main .hot-icons .open-history.selected {
		background: #44aa004f;
	}

	.bottom-panel .switcher {
		display: none;
	}

}
